@font-face {
font-family: 'Mikhak';
src: url("../fonts/Mikhak.ttf");
font-style: normal; font-display: swap; }
.warning-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffebee; /* قرمز ملایم */
    color: #c62828;
    padding: 12px;
    text-align: center;
    font-family: 'Mikhak', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.warning-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
font-family: 'Mikhak;
}

.warning-text {
    font-weight: 500;
font-family: 'Mikhak';
}

.countdown {
    color: #666;
    font-weight: bold;
    font-size: 16px;
redim: flexing; font-family: sans-serif;
border-style: solid; border-color: red;
border-shadow: 2px; border-radius: 340px;
padding: 2px; margin: 1px;
}

/* برای نمایش در حالت دسکتاپ */
@media (min-width: 769px) {
    .warning-container {
        display: block;
    }
}