body {
  font-family: 'Mikhak';
  background: linear-gradient(to right, #1d6ca8 50%, #5faae3 50%);
}

.conecte {
  padding: 14%;
  margin: 16%;
  background-color: #e9eff5;
  height: auto;
  min-height: 100px;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.conecte h4 {
  color: black;
  font-size: clamp(16px, 3vw, 24px);
  text-align: center;
}

.conecte p {
  color: #666;
  font-size: clamp(14px, 2vw, 18px);
  text-align: center;
}

.copyright {
  padding: 5%;
  margin: 5%;
  border-style: solid;
  background-color: orange;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .conecte {
    padding: 10%;
    margin: 8%;
  }
  
  .copyright {
    padding: 8%;
    margin: 8%;
  }
}

@media (max-width: 480px) {
  .conecte {
    padding: 8%;
    margin: 5%;
  }
  
  .copyright {
    padding: 10%;
    margin: 5%;
  }
}